#my-id-screen-1 {
    background: #F1F1F1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.f1 {
    position: absolute;
    bottom: 0px;
    right: 449px;
    width: 150px;
    height: 200px;
    transform: skew(-20deg);
    background: #9eda68;
}

.f2 {
    position: absolute;
    bottom: -100px;
    right: 326px;
    width: 150px;
    height: 300px;
    transform: skew(30deg);
    background: #78a653;
}

.f3 {
     position: absolute;
     bottom: -100px;
     right: 130px;
     width: 150px;
     height: 600px;
     transform: skew(-20deg);
     background: #4c6733;
 }

.f4 {
    overflow: hidden;
    position: relative;
    bottom: -100px;
    left: 1330px;
    width: 150px;
    height: 600px;
    transform: skew(-20deg);
    background: #3a4067;
}

body{
    overflow-x: hidden;
}


.v1 {
    position: absolute;
    bottom: -100px;
    left: 0px;
    width: 400px;
    height: 200px;
    transform: skewY(20deg);
    background: #667b5b;
}
