#my-id-screen-1 {

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#my-id-screen-after-1 {
    background-color: #EAEAEC;
    width: 100%;
    position: absolute;
    top: 100%;
}

#my-id-screen-2 {
    width: 100%;
    height: 150vh;
    background: #000c5c;
    background: -moz-linear-gradient(top, #000c5c 0%, #eaeaec 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #000c5c), color-stop(100%, #eaeaec));
    background: -webkit-linear-gradient(top, #000c5c 0%, #eaeaec 100%);
    background: -o-linear-gradient(top, #000c5c 0%, #eaeaec 100%);
    background: -ms-linear-gradient(top, #000c5c 0%, #eaeaec 100%);
    background: linear-gradient(to bottom, #000c5c 0%, #eaeaec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c5c', endColorstr='#eaeaec', GradientType=0 );
}

#my-id-screen-3 {
    background-color: #EAEAEC;
}

#my-id-screen-4 {

}

#my-id-screen-5 {

}

.pos-a {
    position: absolute;
}

@media (max-width: 576px) {
    .my-logo-fix {
        text-align: center !important;
    }
}

.my-shadow {
    -webkit-box-shadow: 14px 13px 74px -22px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 14px 13px 74px -22px rgba(0, 0, 0, 0.73);
    box-shadow: 14px 13px 74px -22px rgba(0, 0, 0, 0.73);
}

.my-margin-5-t-b {
    margin-bottom: 5vw;
    margin-top: 5vw;
}

.my-white-bg {
    background-color: white !important;
}

.nav-button-top-Fix {
    top: 1rem;
}

.my-1-screen-text-div {

    padding-top: 40vh;
}

.my-full-screen {
    width: 100%;
    height: 100vh;
}
/*
@media (max-width: 576px) {
    ul.my-ul-fix {
        margin: 0;
        padding: 0;
        text-align: center !important;
        list-style: none;
    }
}

ul.my-ul-fix {
    margin: 0rem;
    padding: 0rem;
    text-align: left;
    list-style: none;
}

ul.my-ul-fix li {
    padding: 2px 5px;
}
*/
.mydiv {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.myimg {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .mobile-top {
        -webkit-box-ordinal-group: 2;
        order: 1
    }

    .mobile-buttom {
        -webkit-box-ordinal-group: 3;
        order: 2
    }
}

.my-text-div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-head-text {
    margin-bottom: 0.1rem
}


