#my-id-screen-1 {
    background: #F1F1F1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#my-id-screen-after-1 {
    background: #161616;
    width: 100%;
    position: absolute;
    top: 100%;
}

#my-id-screen-2 {
    background: #161616;
    width: 100%;

}

#my-id-screen-3 {
    background-color: #EAEAEC;
}

#my-id-screen-4 {

}

#my-id-screen-5 {

}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.pos-f {
    position: fixed;
}

.pos-s {
    position: static;
}

@media (max-width: 576px) {
    .my-logo-fix {
        text-align: center !important;
    }
}

@media screen and (min-width: 576px){
    .my-shadow {
        -webkit-box-shadow: 0px 4px 8px 0 rgba(21,21,21,0.3), 0px 6px 20px 0 rgba(21,21,21,0.3);
        -moz-box-shadow:  0px 4px 8px 0 rgba(21,21,21,0.3), 0px 6px 20px 0 rgba(21,21,21,0.3);
        box-shadow:  0px 4px 8px 0 rgba(21,21,21,0.3), 0px 6px 20px 0 rgba(21,21,21,0.3);
    }
}



.my-big-div-in-3-screen {

    background-color: #EAEAEC;

}

@media screen and (min-width: 992px) {
    .my-block-960px{
        width: 960px;
    }
}

.my-white-bg {
    background-color: white !important;
}

.nav-button-top-Fix {
    top: 1rem;
}

.my-1-screen-text-div {
    position: absolute !important;
    bottom: 30vh;
}

@media screen and (max-height: 572px) {
    .my-1-screen-text-div {
        position: absolute !important;
        bottom: 2vh;
    }
}

.my-full-screen {
    width: 100%;
    height: 100vh;
}

/*
@media (max-width: 576px) {
    ul.my-ul-fix {
        margin: 0;
        padding: 0;
        text-align: center !important;
        list-style: none;
    }
}

ul.my-ul-fix {
    margin: 0rem;
    padding: 0rem;
    text-align: left;
    list-style: none;
}

ul.my-ul-fix li {
    padding: 2px 5px;
}
*/
.mydiv {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.myimg {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .mobile-top {
        -webkit-box-ordinal-group: 2;
        order: 1
    }

    .mobile-buttom {
        -webkit-box-ordinal-group: 3;
        order: 2
    }
}

.my-text-div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-head-text {
    margin-bottom: 0.1rem
}

.my-black-div-between-2-and-3 {
    background: #161616;
    width: 100%;
    height: 250px;
}

.my-title-div-2screen-Trusted {
    margin-top: 100px;
}

.my-font-MS-semibold {
    font-family: "Montserrat";
    font-weight: 600;
}

.my-font-MS-medium {
    font-family: "Montserrat";
    font-weight: 500;
}

.my-font-MS-regular {
    font-family: "Montserrat";
    font-weight: 400;
}

.my-font-MS-light {
    font-family: "Montserrat";
    font-weight: 300;
}

.my-font-size-large {
    font-size: 6rem;
}

.my-font-size-large-s {
    font-size: 4rem;
}

.my-font-size-medium {
    font-size: 2rem;
}

.my-font-size-regulary {
    font-size: 1.5rem
}

.my-font-size-small-m {
    font-size: 1rem;
}

.my-font-size-small-s {
    font-size: 0.75rem;
}

.my-color-light {
    color: #EAEAEC;
}

.my-color-blue {
    color: #393E64;
}

.my-color-black {
    color: #161616;
}

@media screen and (min-width: 1200px){
    .my-fix-our-works{
        padding-left: 90px
    }
}

@media screen and (max-width: 400px){
    .my-font-size-large-fix-mobile{
        font-size: 5.5rem !important;
    }
}

@media screen and (max-width: 330px){
    .my-font-size-large-fix-mobile{
        font-size: 3.5rem !important;
    }

    .my-font-size-large-fix-mobile-title-1-screen-2{
        font-size: 3.5rem !important;
    }

    .my-font-size-large-fix-mobile-title-1-screen-1{
        font-size: 1.5rem !important;
    }
}

@media screen and (max-height: 570px){
    .my-font-size-large-fix-mobile-title-1-screen-2{
        font-size: 3.5rem !important;
    }

    .my-font-size-large-fix-mobile-title-1-screen-1{
        font-size: 1.5rem !important;
    }
}

.my-our-works{
    line-height: 4.3rem;
    margin-bottom: 15px;
}




