#background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("geometry.png");
    /*pw_maze_white_@2X.png*/
}

#my-id-screen-1 {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#my-id-screen-after-1 {
    width: 100%;
    position: absolute;
    top: 100%;
}

#my-id-screen-2 {
    background: #161616;
    z-index: 3;
    position: relative;
    height: 1000px;
}

@media screen and (max-width: 1200px) {
    #my-id-screen-2 {
        height: 750px;
    }
}

@media screen and (max-width: 768px) {
    #my-id-screen-2 {
        height: 850px;
    }
}

#my-id-screen-3 {
    position: relative;
    background-color: #EAEAEC;
    background-image: url("geometry.png");
}

#my-id-screen-4 {
    z-index: 1;
    position: relative;
    background: #161616;
    width: 100%;
}

#my-id-screen-5 {
    z-index: 0;
    position: relative;
    background-color: #EAEAEC;
    background-image: url("geometry.png");
}

#my-id-screen-6 {
    z-index: 1;
    position: relative;
    background: #161616;
    width: 100%;
    padding-top: 4vh;
}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.pos-f {
    position: fixed;
}

.pos-s {
    position: static;
}

@media (max-width: 576px) {
    .my-logo-fix {
        text-align: center !important;
    }
}

@media screen and (min-width: 576px) {
    .my-shadow {

        -webkit-box-shadow: -30px -26px 114px -43px rgba(22, 22, 22, 0.32);
        -moz-box-shadow: -30px -26px 114px -43px rgba(22, 22, 22, 0.32);
        box-shadow: -30px -26px 114px -43px rgba(22, 22, 22, 0.32);
        /*
        -webkit-box-shadow: 0px 4px 8px 0 rgba(21, 21, 21, 0.3), 0px 6px 20px 0 rgba(21, 21, 21, 0.3);
        -moz-box-shadow: 0px 4px 8px 0 rgba(21, 21, 21, 0.3), 0px 6px 20px 0 rgba(21, 21, 21, 0.3);
        box-shadow: 0px 4px 8px 0 rgba(21, 21, 21, 0.3), 0px 6px 20px 0 rgba(21, 21, 21, 0.3);*/
    }
}

.my-big-div-in-3-screen {
    background-color: #EAEAEC;
}

@media screen and (min-width: 992px) {
    .my-block-960px {
        width: 960px;
    }
}

.my-white-bg {
    background-color: white !important;
}

.nav-button-top-Fix {
    top: 1rem;
}

.my-1-screen-text-div {
    position: absolute !important;
    bottom: 15vh;
}

@media screen and (max-height: 572px) {
    .my-1-screen-text-div {
        position: absolute !important;
        bottom: 2vh;
    }
}

.my-full-screen {
    width: 100%;
    height: 100vh;
}

/*
@media (max-width: 576px) {
    ul.my-ul-fix {
        margin: 0;
        padding: 0;
        text-align: center !important;
        list-style: none;
    }
}

ul.my-ul-fix {
    margin: 0rem;
    padding: 0rem;
    text-align: left;
    list-style: none;
}

ul.my-ul-fix li {
    padding: 2px 5px;
}
*/
.mydiv {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.myimg {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .mobile-top {
        -webkit-box-ordinal-group: 2;
        order: 1
    }

    .mobile-buttom {
        -webkit-box-ordinal-group: 3;
        order: 2
    }
}

.my-text-div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-head-text {
    margin-bottom: 0.1rem
}

.my-black-div-between {
    top: -100px;
    background: #161616;
    width: 100%;
    height: 50px;
}

.my-title-div-4screen-Trusted {
    padding-top: 30vh;
}

@media screen and (max-width: 576px) {
    .my-title-div-4screen-Trusted {
        padding-top: 10vh;
    }
}

.my-title-div-2screen-WeAreJolla {
    padding-top: 140px;
}

@media screen and (max-width: 1200px) {
    .my-title-div-2screen-WeAreJolla {
        padding-top: 100px;
    }

}

@media screen and (max-width: 768px) {
    .my-title-div-2screen-WeAreJolla {
        padding-top: 40px;
    }

}

.my-font-MS-bold {
    font-family: "Montserrat";
    font-weight: 700;
}

.my-font-MS-semibold {
    font-family: "Montserrat";
    font-weight: 600;
}

.my-font-MS-medium {
    font-family: "Montserrat";
    font-weight: 500;
}

.my-font-MS-regular {
    font-family: "Montserrat";
    font-weight: 400;
}

.my-font-MS-light {
    font-family: "Montserrat";
    font-weight: 300;
}

.my-font-size-large {
    font-size: 6rem;
}

.my-font-size-large-s {
    font-size: 4rem;
}

.my-font-size-medium {
    font-size: 2rem;
}

.my-font-size-regulary {
    font-size: 1.5rem
}

.my-font-size-regulary-s {
    font-size: 1.2rem
}

.my-font-size-small-m {
    font-size: 1rem;
}

.my-font-size-small-s {
    font-size: 0.75rem;
}

.my-color-light {
    color: white;
    /*color: #EAEAEC;*/
}

.my-color-blue {
    color: #393E64;
}

.my-color-black {
    color: #161616;
}

.my-color-black-l {
    color: #2B2D31;
}

@media screen and (min-width: 1200px) {
    .my-fix-our-works {
        padding-left: 90px
    }
}

@media screen and (max-width: 400px) {
    .my-font-size-large-fix-mobile {
        font-size: 5.5rem !important;
    }
}

@media screen and (max-width: 350px) {
    .my-font-size-large-fix-mobile {
        font-size: 3.5rem !important;
    }

    .my-font-size-large-fix-mobile-title-1-screen-2 {
        font-size: 3.5rem !important;
    }

    .my-font-size-large-fix-mobile-title-1-screen-1 {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-height: 570px) {
    .my-font-size-large-fix-mobile-title-1-screen-2 {
        font-size: 3.5rem !important;
    }

    .my-font-size-large-fix-mobile-title-1-screen-1 {
        font-size: 1.5rem !important;
    }
}

.my-our-works {
    line-height: 4.3rem;
    margin-bottom: 15px;
}

.photo-team-screen-2 {
    z-index: 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

@media screen and (max-width: 992px) {
    .photo-team-screen-2 {
        display: none;
    }

}

.my-grad {
    position: absolute;
    width: 100%;
    height: 40px;
    /*
    background: rgba(22,22,22,1);
    background: -moz-linear-gradient(top, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,22,22,1)), color-stop(100%, rgba(22,22,22,0)));
    background: -webkit-linear-gradient(top, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 100%);
    background: -o-linear-gradient(top, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 100%);
    background: -ms-linear-gradient(top, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 100%);
    background: linear-gradient(to bottom, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#161616', GradientType=0 );
    */

    background-image: -ms-linear-gradient(bottom, rgba(22, 22, 22, 0) 0%, rgba(22, 22, 22, 1) 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, rgba(22, 22, 22, 0) 0%, rgba(22, 22, 22, 1) 100%);

    /* Opera */
    background-image: -o-linear-gradient(bottom, rgba(22, 22, 22, 0) 0%, rgba(22, 22, 22, 1) 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(22, 22, 22, 0)), color-stop(1, rgba(22, 22, 22, 1)));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, rgba(22, 22, 22, 0) 0%, rgba(22, 22, 22, 1) 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, rgba(22, 22, 22, 0) 0%, rgba(22, 22, 22, 1) 100%);
}

.link-footer {
    margin: 2vw;
    bottom: 20px;
}

.link-header {
    color: #393E64 !important;
    padding: .5em;
}

.link-header:visited {
    text-decoration: none; /* Убираем подчеркивание */
    color: #393E64;

}

.link-header:hover {
    text-decoration: none; /* Убираем подчеркивание */

    color: #1a1e34 !important;

}

.logo-header {
    color: #393E64 !important;
}

.logo-header:visited {
    text-decoration: none; /* Убираем подчеркивание */
    color: #393E64 !important;
}

.logo-header:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: #1a1e34 !important;
}

.link-footer:visited {
    text-decoration: none; /* Убираем подчеркивание */
    color: #2B2D31;
}

.link-footer:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */
}

a:visited {
    color: #800080; /* Цвет посещенной ссылки */

}

.footer-1 {
    text-align: center;
}

.footer-2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .footer-1 {
        text-align: center;
    }

    .footer-2 {
        text-align: center;
        padding-top: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .man-img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .man-div {
        display: none;
    }
}